# Entorno virtual
venv/

# Archivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs y temporales
*.log
*.tmp

# DLL y binarios grandes
*.dll
*.so
*.dylib

# Carpetas pesadas
data/processed/*
models/experimental/*